@import "../../styles/importables";

.gallery {
  padding: 40px 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-auto-rows: 1px;

  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  }
  @media only screen and (max-width: 450px) {
    display: block;
    img {
      margin-bottom: 10px;
    }
  }
}
