$nav-height: 100px;
$footer-height: 80px;
$footer-color: #96baef;

@mixin poppins($weight: 400) {
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-weight: $weight;
}

@mixin fluid-container() {
  padding: 30px 15%;
  @media only screen and (max-width: 768px) {
    padding: 10px 15px;
  }
  @media only print {
    padding: 15px;
  }
}

@mixin no-print() {
  @media only print {
    display: none;
  }
}

@mixin link() {
  color: #1b4787;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
