@import "../../styles/importables";

.hero {
  height: calc(100vh - #{$nav-height});
  overflow-y: auto;

  background: url("https://i.ibb.co/hmbNxNV/UN-Blurred.jpg") center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15%;
  @media only screen and (max-width: 768px) {
    padding: 20px 30px;
  }

  .contents {
    h1, p {
      @include poppins;
    }

    h1 {
      color: white;
    }

    p {
      color: #d4d4d4;
    }

    a {
      color: #b0b0e5;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
