@import "../../styles/importables";

.fluidContainer {
  @include fluid-container;

  h1, h2, h3, h4, h5, h6, p, li {
    @include poppins;
  }

  p {
    color: #2a2a2a;
  }

  a {
    color: #1b4787;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-height: 300px;
    max-width: 100%;
  }

  &.watermark {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50vh;
  }
}
