@import "../../styles/importables";

.footer {
  @include no-print;
  width: 100%;
  height: $footer-height;
  background: #b1cbf1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    font-size: 0.8rem;
    @include poppins;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

    a {
      @include link;
    }
  }
}
